.footer {
    width: 100%;
    color: #333;
    margin-top: 5rem;
}

/* Prima parte: Contatti e Orari */
.contactsSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    width: 100%; 
    color: white !important;
    gap: 5rem;
    margin: 0 auto; 
    background-image: url("../images/sfondoFooter.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.innerContainer {
    width: 20%; 
    max-width: 90%;
    margin: 0 auto; 
}

.contactItem {
    padding: 0 1rem;
}

.contactItem h3 {
    font-size: 1.7rem;
    font-weight:normal;
    margin-bottom: 1.5rem;
    text-align: center;
}

.contactItem p {
    margin: 0.5rem 0;
}

.hoursBox {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 3rem;
}

.hoursRow {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.hoursRow div {
    display: flex;
    flex-direction: column; 
}

/* Seconda parte: P.IVA */
.taxSection {
    background-color: #d5abc2;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1rem;
    color: #333;
    margin-top: -4.5rem;
}

/* Terza parte: Informazioni legali */
.legalSection {
    background-color: #000;
    color: grey;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

.legalSection p {
    margin: 0;
}

@media (max-width: 991px) {
    .contactsSection {
        flex-direction: column; 
        align-items: center;
        gap: 3rem;
        padding: 1rem;
    }

    .innerContainer {
        width: 90%; 
    }

    .contactItem h3 {
        font-size: 1.1rem;
    }

    .hoursBox {
        margin-top: 2rem;
    }

    .taxSection {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .footer {
        margin-top: 3rem;
    }

    .contactsSection {
        gap: 2rem;
        padding: 1rem;
    }

    .innerContainer {
        width: 100%; 
    }

    .contactItem h3 {
        font-size: 1rem;
    }

    .hoursBox {
        margin-top: 1.5rem;
    }

    .taxSection {
        font-size: 0.9rem;
    }

    .legalSection {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .footer {
        margin-top: 2rem;
    }

    .contactsSection {
        padding: 0.5rem;
    }

    .innerContainer {
        width: 100%; 
    }

    .contactItem h3 {
        font-size: 1rem;
    }

    .hoursBox {
        margin-top: 1rem;
    }

    .taxSection {
        font-size: 0.8rem;
    }

    .legalSection {
        font-size: 0.7rem;
    }
}
