.registerContainer {
    border-radius: 60px;
    background-color: #fff;
    padding: 0 0 0 80px;
    overflow: hidden;
  }
  
  @media (max-width: 991px) {
    .registerContainer {
      padding-left: 20px;
    }
  }
  
  .contentWrapper {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .formColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .formColumn {
      width: 100%;
    }
  }
  
  .formContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    font-weight: 400;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .formContent {
      margin-top: 40px;
    }
  }
  
  .headingWrapper {
    align-self: flex-start;
    display: flex;
    margin-left: 33px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  @media (max-width: 991px) {
    .headingWrapper {
      margin-left: 10px;
    }
  }
  
  .mainTitle {
    text-transform: uppercase;
    font: 68px Bebas Neue, sans-serif;
  }
  
  @media (max-width: 991px) {
    .mainTitle {
      font-size: 40px;
    }
  }
  
  .subtitle {
    margin-top: 20px;
    font: 20px Urbanist, sans-serif;
  }
  
  .inputWrapper {
    border-radius: 6px;
    display: flex;
    margin-top: 56px;
    flex-direction: column;
    color: #2e2e2e;
    white-space: nowrap;
    font: 16px Cabin, sans-serif;
    border: 1px solid #d2d2d2;
  }
  
  @media (max-width: 991px) {
    .inputWrapper {
      margin-top: 40px;
      white-space: initial;
    }
  }
  
  .inputField {
    border-radius: 6px;
    padding: 21px 19px;
    border: 1px solid #d2d2d2;
  }
  
  @media (max-width: 991px) {
    .inputField {
      padding-right: 20px;
      white-space: initial;
    }
  }
  
  .inputGroup {
    display: flex;
    margin-top: 24px;
    height: 52px;
    flex-direction: column;
    color: #2e2e2e;
    white-space: nowrap;
    justify-content: flex-start;
    font: 16px Cabin, sans-serif;
  }
  
  @media (max-width: 991px) {
    .inputGroup {
      white-space: initial;
    }
  }
  
  .inputContainer {
    border-radius: 6px;
    display: flex;
    max-width: 100%;
    width: 420px;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .inputContainer {
      white-space: initial;
    }
  }
  
  .checkboxWrapper {
    align-self: flex-start;
    display: flex;
    margin-top: 36px;
    align-items: center;
    gap: 6px;
    justify-content: flex-start;
    font: 16px Cabin, sans-serif;
  }
  
  .checkbox {
    border-radius: 4px;
    align-self: stretch;
    display: flex;
    width: 14px;
    height: 14px;
    margin: auto 0;
    border: 1px solid #000;
  }
  
  .checkboxLabel {
    align-self: stretch;
    margin: auto 0;
  }
  
  .registerButton {
    border-radius: 30px;
    background-color: #f3bc9f;
    margin-top: 24px;
    color: #fff;
    white-space: nowrap;
    text-align: right;
    padding: 20px 70px;
    font: 500 16px Cabin, sans-serif;
  }
  
  @media (max-width: 991px) {
    .registerButton {
      white-space: initial;
      padding: 0 20px;
    }
  }
  
  .loginPrompt {
    text-align: right;
    align-self: flex-start;
    margin: 38px 0 0 14px;
    font: 16px Cabin, sans-serif;
  }
  
  @media (max-width: 991px) {
    .loginPrompt {
      margin-left: 10px;
    }
  }
  
  .imageColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 62%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .imageColumn {
      width: 100%;
    }
  }
  
  .sideImage {
    aspect-ratio: 0.68;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .sideImage {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }