/* Contenitore principale */
.container {
  width: 90%;
  max-width: 45rem;
  height: auto;
  display: flex;
  background-color: #f3bc9f;
  justify-content: center;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  padding: 2rem 0;
}

.left {
  flex: 2;
  padding: 2rem;
  background-color: white;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  background-color: #edf0f5;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

h2 {
  margin-bottom: 2rem;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

input {
  width: 90%;
  padding: 0.625rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

button {
  width: 90%;
  padding: 0.625rem;
  background-color: #004b75;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #013f63;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.nome {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 0.5rem;
}

/* Media query per schermi piccoli */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 1rem;
  }

  .left, .right {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .left {
    padding: 1.5rem;
  }

  .right {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  input, button {
    width: 100%;
    font-size: 0.875rem;
  }

  .nome {
    font-size: 1rem;
  }
}
