.banner {
    position: relative; 
    height: 450px; 
    width: 100%;
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    overflow: hidden;
}

@media (max-width: 1200px) {
    .banner {
        height: 300px;
        clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    }
}

@media (max-width: 991px) {
    .banner {
        height: 250px;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    }
}

@media (max-width: 768px) {
    .banner {
        height: 200px;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    }
}

@media (max-width: 480px) {
    .banner {
        height: 150px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    }
}
