.container {
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.addProductButton {
  background-color: #D5ABC2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto 20px;
  display: block;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

.table th {
  background-color: #f4f4f4;
}

.table td {
  border-top: 1px solid #ddd;
}

.noProducts {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

.updateButton {
  background-color: #4CAF50;
  color: white;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.pagination button.activePage {
  background-color: #D5ABC2;
  color: white;
}

@media screen and (max-width: 768px) {
  .table th:nth-child(1),
  .table td:nth-child(1),
  .table th:nth-child(4),
  .table td:nth-child(4) {
    display: none;
  }
  
  .addProductButton {
    margin: 20px auto;
  }

  .table th, .table td {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table td:nth-child(2),
  .table td:nth-child(3),
  .table td:nth-child(5) {
    width: 50px;
  }
}
