.header {
  background-color: #f3bc9f;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  z-index: 10;
  position: relative;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #000;
  font: 400 1rem Montserrat, sans-serif;
}

.navigation a {
  text-decoration: none;
  color: inherit;
  margin-right: 8%;
}

.socialIcons {
  display: flex;
  gap: 2.5rem;
}

.userIcon, .cartIcon {
  width: 2.2rem; 
  height: auto;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.4rem;
}

.burgerLine {
  width: 2rem;
  height: 0.2rem;
  background-color: #000;
}

/* X per chiudere il menu */
.closeMenu {
  position: absolute;
  top: -0.3rem;
  right: 1rem;
  font-size: 4rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header {
    padding: 1rem;
  }

  .logoContainer {
    margin-right: auto;
  }

  .hamburger {
    display: flex;
  }

  .navigation {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #f3bc9f;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.5s ease-in-out; /* Animazione più lenta */
  }

  .navigation a {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .navigation .userLink,
  .navigation .logoutButton {
    font-size: 1.2rem;
  }

  /* Menu aperto */
  .menuOpen {
    right: 0;
  }

  /* Logout in basso a destra */
  .logoutButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: transparent;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
}
