.header {
  background-color: #f3bc9f;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  z-index: 10;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #000;
  font: 400 1rem Montserrat, sans-serif;
}

.navigation a {
  text-decoration: none;
  color: inherit;
  margin-right: 8%;
}

.socialIcons {
  display: flex;
  gap: 2.5rem;
}

.userIcon, .cartIcon {
  width: 2.2rem; 
  height: auto;
}

/* Aggiungi il link per "Dashboard" */
.navigation .dashboardLink {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

/* header.module.css */

.welcomeSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  font: 400 1rem Montserrat, sans-serif;
  color: #000;
}

.userLink {
  color: #901010; /* Colore blu per indicare che è cliccabile */
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Animazione per cambiare colore */
}

.userLink:hover {
  color: #005b99; /* Colore leggermente più scuro all’hover */
  text-decoration: underline; /* Sottolineatura per enfatizzare il link */
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.logoutButton:hover {
  color: #d9534f; /* Colore rosso scuro per il logout all’hover */
}


@media (max-width: 991px) {
  .header {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .navigation {
    gap: 1rem;
    white-space: normal;
  }

  .mainLogo, .subLogo1, .subLogo2, .userIcon, .cartIcon {
    width: auto;
  }
}
