.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  gap: -2rem; 
}

.componentBox {
  flex: 1;
  max-width: 49%; 
}


.orderBox {
  height: 300px; 
  overflow-y: auto; 
}


/* Responsive per schermi più piccoli */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .componentBox {
    max-width: 100%;
  }
}
