.container {
    display: flex;
}

.carelloBeforeOrder {
    font-weight: bold;
    margin-top: 20%;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
    padding: 0 10px;
}

.productGrid input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.commentAndOrder {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.cartItem {
    display: flex;
    flex-direction: column;
}

.cartItem .productDetails {
    display: flex;
    flex-direction: column;
    width: 60px; /* Ridotto larghezza */
}

.cartItem .productInformation {
    font-size: 9px; /* Ridotto font-size */
}

.cartItem .productNameAndRemove {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cartItem button {
    background-color: #f44336;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.cartItem button:hover {
    background-color: #e53935;
}

.productName {
    font-weight: bold;
    font-size: 14px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    padding: 10px;
    overflow-y: auto;
    margin-top: 7%;
    text-align: center;
}

.commentInput {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.dateInput {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.orderButton {
    background-color: #f3bc9f;;
    color: white;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.orderButton:hover {
    background-color: #45a049;
}

/* Media query per tablet */
@media (max-width: 991px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Ridotto gap per tablet */
    }

    .orderButton {
        width: 90%;
    }

    .cartContainer {
        height: 80vh;
        width: 30%; /* Ridotto ancora la larghezza su tablet */
        margin-top: 10%;
        overflow-y: auto;
    }
}

/* Media query per mobile */
@media (max-width: 767px) {
    .productGrid {
        grid-template-columns: 1fr;
        gap: 8px; /* Ridotto ancora il gap */
        padding: 0;
        margin-left: 0;
    }

    .orderButton {
        width: 100%;
        font-size: 12px; /* Font ridotto su mobile */
    }

    .cartContainer {
        position: fixed;
        top: 400px;
        right: 0;
        width: 40%; /* Ridotto ancora la larghezza per schermi piccoli */
        height: 100vh;
        padding: 10px;
        overflow-y: auto;
    }
}

/* Media query per dispositivi con larghezza tra 300px e 400px */
@media (min-width: 300px) and (max-width: 400px) {
    .cartContainer {
        right: -18px; /* Sposta il contenitore leggermente a destra */

    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .cartContainer {
        right: -30px; /* Sposta il contenitore leggermente a destra */
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .cartContainer {
        right: 60px; /* Sposta il contenitore leggermente a destra */
    }

    .productGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Ridotto gap per tablet */
    }

}
